<div class="detail-container d-flex justify-content-center align-items-center">
    <div *ngIf="pokemon" class="-content d-flex flex-wrap">
        <div class="-card">
            <img [src]="pokemon.imageUrlHiRes" alt="">
        </div>
        <div class="-pokemon-data">
            <div class="-title">
                <div class="d-flex flex-wrap mr-auto">
                    <span>#{{pokemon.id}}: </span>
                    <span>{{pokemon.name}}</span>
                </div>
                <span>{{pokemon.types[0]}}</span>
            </div>
            <div class="-attributes-container d-flex flex-column flex-wrap justify-content-between">
                <div class="-weakness d-flex flex-column mt-3">
                    <h3>Weakness</h3>
                    <ng-container *ngIf="pokemon.weaknesses; else noWeakness">
                        <div class="d-flex flex-column -description" *ngFor="let weakness of pokemon.weaknesses">
                            {{weakness.type}}&nbsp;{{weakness.value}}
                        </div>
                    </ng-container>
                    <ng-template #noWeakness>
                        <span class="-description">N/A</span>
                    </ng-template>
                </div>
                <div class="-resistences d-flex flex-column">
                    <h3>Resistences</h3>
                    <ng-container *ngIf="pokemon.resistances; else noResistence">
                        <div class="d-flex flex-column -description" *ngFor="let resistence of pokemon.resistances">
                            {{resistence.type}}&nbsp;{{resistence.value}}
                        </div>
                    </ng-container>
                    <ng-template #noResistence>
                        <span class="-description">N/A</span>
                    </ng-template>
                </div>
                <div class="-attacks d-flex flex-column align-items-start">
                    <h3>Attacks</h3>
                    <ng-container *ngIf="pokemon.attacks && pokemon.attacks.length > 0; else noAttack">
                        <div *ngFor="let attack of pokemon.attacks" class="d-flex flex-column mt-2 -description">
                            <button class="button-link d-flex align-items-center" (click)="openModal(attack)">
                                <i class="fas fa-external-link-alt mr-2"></i> {{attack.name}}
                            </button>
                        </div>
                    </ng-container>
                    <ng-template #noAttack>
                        <span class="-description">N/A</span>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isSearching">
        <app-loader text="Getting card data"></app-loader>
    </ng-container>
</div>

<app-modal id="{{modalId}}">
    <div *ngIf="selectedAttack" class="modal-container">
        <h3>{{selectedAttack.name}} | {{selectedAttack.damage}}</h3>
        <div class="d-flex flex-wrap mb-4">
            <ng-container *ngIf="selectedAttack.cost">
                <span *ngFor="let cost of selectedAttack.cost">{{cost}}&nbsp;</span>
            </ng-container>
        </div>
        <div class="-description">
            <span>
                {{selectedAttack.text}}
            </span>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" (click)="closeModal()">Close</button>
        </div>
    </div>
</app-modal>