<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <!-- <a class="navbar-brand" href="#">Finder</a> -->
    <a class="navbar-brand d-flex align-items-center mr-auto" href="#">
        <img src="../../../assets/images/pokemon-finder.png" class="mr-2" width="30" height="30" alt="" loading="lazy">
        Home
    </a>
    
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/ricardotgi88/pokemon-app" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </li>
    </ul>
</nav>