.home-container {
    .-finder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2b2b2b;
        color: #fff;
        height: 200px;

        .-search-input {
            position: relative;
            margin-top: 15px;
            width: 50%;
            min-width: 300px;

            .input-icon {
                position: absolute;
                color: #8e8e8e;
                font-size: 26px;
                top: 12px;
                left: 14px;
            }

            input {
                height: 50px;
                width: 100%;
                padding: 10px 10px 10px 50px;
                font-size: 18px;
            }
        }

        .-sub-title {
            margin-top: 20px;
        }
    }

    .-card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1200px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        background-color: #fafafa;

        @media screen and (max-width: 768px) {
            justify-content: flex-start;
            flex-wrap: nowrap;
            overflow: hidden;
            overflow-x: auto;
        }
    }
}
