<div class="pokemon-card-container" (click)="onCardSelected()">
    <div class="-img">
        <img [src]="pokemon.imageUrl" alt="">
    </div>
    <div class="detail-hint" (click)="toggleDetail(true, $event)" [class.active]="isOpenDetails">
        <i class="fas fa-chevron-up"></i>
    </div>
    <div class="-detaills" [class.active]="isOpenDetails">
        <div class="-item">
            <span>Pokémon</span>
            <i>#{{pokemon.id}} - {{pokemon.name}}</i>
        </div>
        <div class="-close">
            <button (click)="toggleDetail(false, $event)" class="button-link"><i class="fas fa-times"></i></button>
        </div>
        <div class="-item" *ngIf="pokemon.types">
            <span>Type:</span>
            <ng-container *ngFor="let type of pokemon.types">
                <i>{{type}}</i>&nbsp;
            </ng-container>
            <i></i>
        </div>
    </div>
</div>