/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./variables";

body {
    font-family: "Press Start 2P", cursive;
    margin: 0;
    padding: 0;
    border: unset;
    background-color: #dadada;
}

h1 {
    font-weight: 300;
}

@media screen and (max-width: $mobile-screen-width) {
    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
}

.button-link {
    border: unset;
    background-color: transparent;
    padding: 0;

    &:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: $mobile-screen-width) {
    p {
        font-size: 14px;
    }

    .hidden-xs {
        display: none;
    }
}
